:root {
  --button-color: #6c63ff;
  --paragraph-text-color: #272142;
  --background-color: #f9f7fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  margin-bottom: 100px;
  font-family: var(--default-font-family);
}

h1,
h2,
h3 {
  color: black;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
  font-family: var(--heading-font-family);
}

h2 {
  font-size: 48px;
  line-height: 1.5;
}

h3 {
  font-size: 24px;
  line-height: 1.5;
  opacity: 0.7;
}

p {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.5;
  color: var(--paragraph-text-color);
  opacity: 0.7;
}

.navbar {
  background-color: var(--background-color);
}

nav {
  padding: 20px 0 0 0;
}

nav ul {
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: var(--paragraph-text-color);
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--button-color);
}

footer {
  margin: 50px;
}

footer .contact-box {
  padding: 20px 100px;
  border-radius: 10px;
  background-color: var(--background-color);
}

footer .contact-box p {
  margin: 0;
}

footer h2 {
  font-size: 32px;
  line-height: 1.5;
  font-family: "Playfair Display", serif;
}

footer .social-links a {
  color: var(--button-color);
  background: var(--background-color);
  padding: 10px 14px;
  margin: 10px 10px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--button-color);
}

.logo {
  max-height: 40px;
}

.homepage-hero {
  padding: 120px 20px;
  text-align: center;
  background-color: var(--background-color);
}

.content-hero {
  text-align: left;
  line-height: 1;
  margin-bottom: 20px;
  padding: 100px;
}

.content-hero h1 {
  font-size: 64px;
  font-family: var(--heading-font-family);
}

.content-hero h2 {
  font-size: 24px;
  font-family: var(--default-font-family);
}

.content-hero h3 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content-hero p {
  font-size: 16px;
}

.image-style {
  padding: 50px 30px 50px 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.left-images {
  background: var(--bg-gradient);
  margin: 0 100px 0 0;
}

.right-images {
  background: var(--bg-gradient);
  margin: 0 0 0 100px;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
}

.primary-link {
  border-radius: 4px;
  padding: 15px 30px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--button-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.secondary-link {
  border-radius: 4px;
  padding: 15px 30px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--button-color);
  border: 1px solid var(--button-color);
}

.secondary-link:hover {
  box-shadow: var(--box-shadow);
}

.home {
  display: block;
  color: var(--button-color);
  text-align: center;
}

.home:hover {
  text-decoration: underline;
  text-align: center;
}

.about-paragraphs {
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 30px;
}

/* .talk-button {
  display: block;
  margin: 0 100px;
  text-align: center;
} */

@media (max-width: 900px) {
  h1 {
    font-size: 42px;
    line-height: 1.5;
  }

  h2 {
    text-align: center;
    font-size: 24px;
  }

  h3 {
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
  }

  p {
    text-align: center;
    font-size: 16px;
  }

  nav a {
    font-size: 14px;
  }

  .homepage-hero {
    padding-top: 120px;
    padding-bottom: 10px;
  }

  .content-hero {
    text-align: center;
    padding: 100px 20px 30px 20px;
  }

  .content-hero h1 {
    font-size: 48px;
  }

  .project-link {
    display: block;
    margin: 0 100px;
    text-align: center;
  }

  .image-style {
    margin-top: 40px;
  }

  .talk-button {
    display: block;
    margin: 20px 60px;
    text-align: center;
  }
}
